# ML Platform Environment variables. Copy this file to .env and adjust values as needed

# Application Settings
DEBUG=true
ENVIRONMENT=development

# Airflow Settings
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
